
body{
    /* width: 1200px;
    margin: auto;  */
    margin: 0px; 
    padding: 0px; 
}
.inner{
    width: 1200px;
    margin: auto; 
}

a{
    /* list-style: none; */
    text-decoration: none;
    /* cursor: pointer; */
    color: black;
}

li{
    list-style: none;
    
}
/* Nav Bar */

#navbar{

   
    
}
.navbar_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px;
}

.navbar_logo{

}
.navbar_menu{
    /* width: 50%; */
    /* display: flex; */
    /* justify-content: center; */
}
.navbar_menu_list{
    /* display: inline-block; */
    /* align-items: center; */
    margin: 0px 10px;
    /* background-color: red; */
    /* float: left; */
    
}

.navbar_menu_item{
    float: left;
    margin: 0px 20px;
    font-size: 18px;
}

/* /////////////////////////////////////////////// */

#Home{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;

    background-color: antiquewhite;
}
/*  

flex-direction을 column으로 주면 가운데정렬이안됨..!(justify content center 안먹힘)
align-items center을 해줘야 요소들이 가운데 정렬을 함..!

*/

#Home img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.home_title{
    display: inline;
    /* align-items: center; */
}

.home_description{
    display: inline;
    /* align-items: center; */
}

/* ///////////////////////////////////////// */

#about{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 243, 243);
}

.about_my_info{

    font-size: 20px;
}

.about_majors{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}
.major_icon i{
    font-size: 100px;

    margin: 0px 30px;
    /* display: inline; */
}
.major_front , 
.major_back, 
.major_certificate{
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;
}

.major_description{
    font-size: 20px;
    line-height: 100px;
}

/* //////////////////////////////////////////////// */

#skils{
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 40px;
    background-color: rgb(169, 222, 247);
}

.skillset{
    width: 80%;
}

.skill{
    margin: 15px 0px;
}

.skill_description{
    display: flex;
    justify-content: space-between;

    font-size: 20px;
}

.skill_bar{
    width: 100%;
    height: 5px;
    background-color: rgb(240, 214, 214);
}

.skill_value{
    width: 60%;
    height: inherit;
    background-color: black ;
}

/* ///////////////////////////////// */

#project{
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 40px;
    background-color: rgb(187, 235, 187);
}

.projects{
    width: 100%;

}

.my_project{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
}

.project_title{
    font-size: 20px;
    margin: 20px;
}

.project_contents{
    display: flex;
    flex-direction: row;
    background-color: bisque;

    justify-content: space-around;

    width: 100%;

    text-align: center;

}   
.project_contents_img{
    width: 500px;
    height: 600px;
    /* margin: 30px; */
    background-color:rgb(236, 125, 147);
}
.project_contents_text{
    /* margin: 50px; */
    width: 500px;
    background-color: cornsilk;

}

/* ///////////////////////////// */

#footer{
    position: relative;
    width: 100%;
    left: 0;
    bottom: -100;  
    background-color: red;
    box-sizing: border-box;
    /*  */
}

.contacts{


}